On GNU/Linux since <a href="http://www.linux-m68k.org/faq/saynotowatchtower.html">Amiga Watchtower</a>, using it as my primary OS since Debian Slink, been on Ubuntu ever since it fulfilled the derailed UserLinux dream.</p>
<p>These days I'm running Ubuntu-Gnome, but I'm considering NixOS+Guix as my primary OS, with a Debian chroot for the pieces that are missing.</p>
<p>You can find me on the Free social web at <a href="https://libranet.de/~clacke">clacke@libranet.de</a>.</p>
